body {
    margin: 0;
}

/* Header */

header {
    height: 200px;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo {
    border-bottom: 1px solid white;
    font-family: 'Alkatra', sans-serif;
    font-weight: bold;
    color: #FFBF00;
    background-color: black;
}

.logo img {
    display: inline-block;
    padding: 70px 30px 0px 0px;
    margin: 0;
    border-bottom: 5px solid #FFBF00;
}

.logo h1 {
    display: inline-block;
    margin: 0;
    padding: 30px 0px;
}

.navbar {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    background: #FFBF00;
    margin: 0;
    border-bottom: 1px solid cyan;
    border-top: 1px solid cyan;
}

.navbar li{
    margin-right: 50px;
    list-style: none;
}

.navbar li a {
    color: #1F51FF;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Open Sans', serif;
    font-weight: bold;
}

.navbar li a:hover {
    cursor: pointer;
}

.navbar li:after {
    display: flex;
    content: '';
    border-bottom: solid 3px blueviolet;
    border-left: solid 1px blueviolet;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.navbar li:hover:after {
    transform: scaleX(1);
}

/* Mission Statement */

.mission-statement {
    background-image: url('./images/msbanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}

.caption {
    font-family: 'Roboto Mono';
    text-align: center;
    background-color: black;
    color: #FFBF00;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

strong {
    color: white;
}

#ms-name {
    color: skyblue;
}

/* Portfolio */

.portfolio {
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'Roboto Mono';
    padding: 50px;
    color: cyan;
    background-color: black;
}

.portfolio h2 {
    margin: 0 auto;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.p-container {
    display: inline-flex;
    margin: 20px;
    align-items: center;
    justify-items: center;
}

.p-container img {
    width: 200px;
    height: auto;
    margin: 10px;
}

/* Our Team */

.team {
    font-family: 'Roboto Mono';
    text-align: center;
    background-color: black;
    color: white;
}

.team h1 {
    margin: 0px auto 20px auto;
    border-top: 3px solid #FFBF00;
    padding-top: 20px;
}

.t-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('./images/teambg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 500px;
    color: white;
}

.t-container {
    color: white;
    background-color: grey;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
    margin: 0 auto;
}

.t-container img {
    width: 200px;
    height: auto;
    opacity: 1.0;
}

/* Contact */

.contact {
    color: #FFBF00;
    background-color: black;
    text-align: center;
    padding: 30px;
    font-family: 'Roboto Mono';
}

.contact h1 {
    margin-top: 0;
}

/* Copyright */

.copyright {
    color: #FFBF00;
    background-color: black;
    text-align: center;
    padding: 30px;
    font-family: 'Roboto Mono';
}